@{
    ViewBag.Title = "About";
}
<center>
    <h1>Spank the Yeti</h1>
    <h2>@ViewBag.Message</h2>
    <p><a href="~/Content/Doc/STY_PrintNPlay_DEMO9_7.pdf" target="_blank">Download the demo</a></p>
</center>


<!-- About and layout rows -->
<div class="row">
    <div class="col">
        <center><img src="~/Content/Img/Layout.png" /></center>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col">
        <center><h2>@ViewBag.Title</h2></center>
        <p>
            Inspired by the popular parlor game - F*ck, Marry, Kill. Each round a player pairs up 3 Action Cards with 3 Objectve Cards, this player is called the Yeti. The Objective cards can consist of people, creatures and things.
            And the other players try to predict correctly of what the Yeti's answers.
        </p>
    </div>
</div>

<!-- Components, Goal, Setup row -->
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <center><h2>Goal</h2></center>
        <p>Each round, one player (The Yeti) pairs up 3 Actions with 3 Objectives, and the other players try to predict the Yeti's answers.</p>
    </div>
    <center>
        <div class="col-md-4">
            <h2>COMPONENTS</h2>
            <i>Note: This is the demo version</i>
            <ul style="list-style: none">
                <li>48 White Actions Cards</li>
                <li>48 Blue Objective Cards</li>
                <li>11 sets of ABC Cards</li>
                <li>1 set of 123 cards</li>
            </ul>
        </div>
    </center>
        <div class="col-md-4">
            <center><h2>SETUP</h2></center>
            <ol>
                <li>Each player gets a set of ABC Cards</li>
                <li>Place the 123 Cards and 1 set of ABC Cards in the center of the table</li>
                <li>Shuffle each deck of cards. Place a stack</li>
            </ol>
        </div>
</div>

<!-- How to Play row -->
<div class="row">
    <div class="col">
        <center><h2>HOW TO PLAY</h2></center>
        <b>The hairiest player gets to be "Yeti" for the first round of player. Obviously.</b>
        <ol>
            <li>Flip over 3 Action Cards and place them face up on the 123 Cards. Flip over 3 Objective Cards and place them face up on the ABC Cards.</li>
            <li>
                Everyone predicts how they think the Yeti will pair up each Action with each Objective.</br>
                Everyone should answers 3 questions:
                <ul>
                    <li>Which would the Yeti tongue bathe?</li>
                    <li>Which would the Yeti milk?</li>
                    <li>Which would the Yeti finger bang?</li>
                </ul>
            </li>
            <li>All the players, including the Yeti, places their ABC Cards face down in front of them to lock in their answers.</li>
            <li>The player on the left of the Yeti starts flipping over their answers and explaining the reasoning for their predictions.</li>
        </ol>
    </div>
</div>

<!-- -->
<div class="row">
    <div class="col-md-5">
        <center><h2>SCORING</h2></center>
        <p>At the end of each round, players who scored 1 point receive 1 white Action Card. Players who scored 3 points receives 1 blue Objective Card.</p>
        <h3>3+ PLAYERS</h3>
        <p>Players score 1 point for action Action and Objective pairing that they predicted correctly. The Yeti gets the same number of points as the highest score for that round.</p>
        <h3>2 PLAYERS</h3>
        <p>The Yeti does not score any points, only the other player does.</p>
        <p>Play rotates clockwise. The player to the left of the Yeti is now the new Yeti for the next round.</p>
    </div>
    <div class="col-md-5">
        <center><h2>WINNING!</h2></center>
        <p>The first player to score 15 points wins.</p>
    </div>
</div>