
@{
    ViewBag.Title = "Game";
}

<h2>The Yeti</h2>

<div class="row">
    <div class="col-md-5">
        <div class="jumbotron" style="background-color:#000000">
            <center><button type="button" class="btn btn-light">Action</button></center>

        </div>
    </div>
    <div class="col-md-5">
        <div class="jumbotron" style="background-color:aqua">
            <center><button type="button" class="btn btn-primary">Objective</button></center>
        </div>
    </div>
</div>